* {
    margin: 0;
}
html, body {
    height: 100%;
    min-height: 100vh;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
nav{
    background-color: lightgreen;
    display: flex;
    padding: 20px;

}
nav div {
    margin-left: 10px;
    margin-right: 10px;
}
nav div a {
    text-decoration: none;
}
.push{
    margin-right: auto;
}
#main{
    /** div content **/
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
/** Auth CSS **/
.container{
    display: flex;
    box-shadow: 1px 1px 6px #555;
}
.card{
    /** Log In **/
    background-color: #c0ff79;
    padding: 50px;
}
.form-group{
    margin-top: 10px;
    margin-bottom: 10px;
}
/** -------- **/
footer{
    background-color: lightcoral;
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
}
footer ul{
    list-style-type: none;
    text-decoration: none;

}
footer ul li a{
    text-decoration: none;
}
